################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Activities/Java/Invoke/out
/Activities/Java/Invoke/.idea
/Activities/Java/Invoke/.idea/artifacts
