<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Official" value="https://www.myget.org/F/workflow/" />
    <!-- <add key="InternalFeed" value="https://uipath.pkgs.visualstudio.com/Public.Feeds/_packaging/UiPath-Internal/nuget/v3/index.json" /> -->
    <add key="LocalFolder" value="D:\teste\Packages" />
  </packageSources>
</configuration>