<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="RestSharp" version="104.4.0" targetFramework="net40-Client" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net452" />
  <package id="Twilio" version="3.6.18" targetFramework="net452" />
</packages>