<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="Local" value="./Packages" />
    <add key="Official" value="https://pkgs.dev.azure.com/uipath/Public.Feeds/_packaging/UiPath-Official/nuget/v3/index.json" />
    <add key="Connect" value="https://gallery.uipath.com/api/v3/index.json" />
    <add key="UiPath-Internal" value="https://uipath.pkgs.visualstudio.com/Public.Feeds/_packaging/UiPath-Internal/nuget/v3/index.json" />
    <add key="nuget-packages" value="https://uipath.pkgs.visualstudio.com/_packaging/nuget-packages/nuget/v3/index.json" />
  </packageSources>
  <config>
    <add key="signatureValidationMode" value="accept" />
  </config>
  <packageSourceCredentials>
    <nuget-packages>
      <add key="Username" value="something" />
      <add key="ClearTextPassword" value="%NUGET_PACKAGES_PAT%" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </nuget-packages>
  </packageSourceCredentials>
</configuration>
